body{
    font-family: Arial, Helvetica, sans-serif;
}

#contentWrapper {
    max-width:1170px;
    margin-left: auto;
    margin-right: auto;

  }

  #mainContent{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    background-color: rgb(81, 184, 253);
    padding: 10px;
  }

  #galleryContent{
    flex: 2 0 1;
  }

  #header{
    display: flex;
    flex: 1 0 1;
    min-width: 0;
    padding: 10px;

    
  }

  #header h2{
    text-align: center;
    padding:.5em;
    color: rgb(35, 130, 194);
    margin:0;
    font-weight: 100;

  }

  #header h3{
    text-align: center;
    color: rgb(35, 130, 194);
    font-weight: 100;
    font-style: italic;

  }

  #gallery{
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
    border-radius: 5px;
    border:1px rgb(162, 233, 255) solid;
    background-color: white;
    padding: 6px;
    margin: 0;
  }

  .galleryItem{
    flex-grow: 0;
    flex-shrink:0;
    flex-basis:0;
  }

  figure {
    border-top: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  figcaption {
    padding: 0.3em;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    #mainContent {
      flex-direction: column;
    }
  }