body{
    font-family: Arial, Helvetica, sans-serif;
}

#contentWrapper {
    max-width: 1170px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(105, 208, 255);
    padding-bottom: 10px;
  }

  #header h1{
    text-align: center;
    padding:.5em;
    color: white;
    margin:0;
  }

  #header h2{
    text-align: center;
    color: white;
  }

  #gallery{
    display: flex;
    flex-basis: 2;
    flex-wrap: wrap;
    max-width:max-content;
    border-radius: 2px;
    border:1px rgb(162, 233, 255) solid;
    padding:10px;
    gap:1em;
    justify-content:center;
    margin: auto;
    background-color: white;
    padding: 10px;
  }

  .galleryItem{
    flex-grow: 0;
    flex-shrink:0;
    flex-basis:1;
  }

  figure {
    border-top: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  figcaption {
    padding: 0.3em;
    text-align: center;
  }