body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%);
}

#contentWrapper {
    max-width:1170px;
    margin-left: auto;
    margin-right: auto;

  }

  #mainContent{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
  }

  #galleryContent{
    flex: 2 0 1;
    padding: 0;
  }

  #header{
    display: flex;
    flex: 1 0 1;
    min-width: 0;
    padding: 10px;
    align-items: center;

    
  }

  #header h2{
    text-align: center;
    padding:.5em;
    color: rgb(255, 255, 255);
    margin:0;
    font-weight: 100;

  }

  #header h3{
    text-align: center;
    color: rgb(185, 185, 185);
    font-weight: 100;
    font-style: italic;

  }

  #gallery{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    border-radius: 5px;
    background-color: white;
    padding: .6em;
    margin: 0;
   
  }

  .galleryItem{
    flex-grow: 0;
    flex-shrink:0;
    flex-basis:0;
    padding:0;
    margin: 0;
  }

  figure {
    border-top: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  figcaption {
    padding: 0.3em;
    text-align: center;
  }

  @media only screen and (max-width: 790px) {
    #mainContent {
      flex-direction: column;
    }

    #gallery {
        justify-content: center;
    }

    
  }